@CHARSET "utf-8";

.event {width: 100%; padding-top:50px;}
.event *{font-family: "InfinitySans-RegularA1"; box-sizing: content-box;}
.event input{height:20px; padding:4px 10px; margin:0; border:1px solid #d4d4d4; line-height:20px; background:#fff;}
.event input:disabled {background-color:#ececec;}
.event a:link		{ color:#585858; text-decoration:none;}
.event a:visited	{ color:#585858; text-decoration:none;}
.event a:hover 	{ color: #FFCE54; text-decoration:none;}
.event a:focus 	{ color: #FFCE54; text-decoration:none;}
.event a:active	{ color:#585858; text-decoration:none;}
.event ::selection {background: #FFCE54;}
.event .scr {overflow-y:auto;}
.event li{list-style-type: none;}

.paging {margin:40px 0; text-align:center;}
.paging li {display:inline-block; margin:0 9px; font-size:16px; line-height:28px;}
.paging li strong {color:#3A3847 ;}

h1.type1 {height:80px; text-align:center; font-size:34px; line-height:30px; font-family: "yg-jalnan" !important; color:#3A3847;}

.tabType1 {height:50px; margin-bottom:40px; text-align:center;}
.tabType1 li {display:inline-block; width:199px; height:48px; margin-left: -4px; border:1px solid #c4c4c4; }
.tabType1 li:first-child {margin-left:0; border-left-width:1px;}
.tabType1 li a {display:block; height:48px; text-align:center; line-height:48px; font-family: "InfinitySans-RegularA1"; font-size:14px; color:#3A3847 ;}
.tabType1 li.on {position:relative; border-color:#c4c4c4; background:#FFCE54;}
.tabType1 li.on a {color:#fff;}


/********** 03_Event **********/
/*evnetList*/
.eventList {overflow:hidden; width:1236px;}
.eventList li {position:relative; float:left; width:318px; height:495px; padding:0 28px; margin:40px 0 0 36px; border:1px solid #ddd; background:#fff;}
.eventList li a {display:block;}
.eventList li >a:hover:after, .eventList li >a:focus:after {content:""; position:absolute; left:-1px; top:-1px; width:372px; height:493px; border:2px solid #FFCE54;}
.eventList li .thumb {position:relative; width:374px; height:307px; margin:0 -28px 30px;}
.eventList li .thumb .end {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center;}
.eventList li .thumb .end:before {content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:rgb(150, 146, 146); opacity:.8; filter:alpha(opacity=80);}
.eventList li .thumb .end .text {position:relative; height:73px; padding-top:73px; margin-bottom:38px; font-size:23px; line-height:30px; color:#fff;}
.eventList li .thumb .end .text:after {content:""; position:absolute; left:50%; bottom:0; width:22px; height:1px; margin-left:-11px; background:#fff;}
.eventList li .thumb .end .btn {position:relative; width:130px; padding:0; margin:0 auto;}
.eventList li .ing {font-size:17px; color:#313131;}
.eventList li .tit {overflow:hidden; height:60px; margin-top:5px; font-size:24px; line-height:30px; color:#232323; word-break:keep-all;}
.eventList li .date {height:16px; padding-left:23px; margin-top:15px; color:#747474; line-height:16px; 
background:url(../img/banzi/event_date.png) no-repeat 0 50%;}
.eventList li.none {width:1200px !important; margin-left:39px !important; background:none !important;}

/*winnerList */
.winnerList {width:100%; border-top:3px solid #FFCE54; border-bottom:1px solid #c4c4c4; table-layout:fixed;}
.winnerList thead th {height:55px; font-family:nGothicB; font-size:15px; color:#232323;}
.winnerList tbody th {padding:24px 0; border-top:1px solid #e5e5e5; font-size:15px; line-height:22px;}
.winnerList tbody td {padding:24px 0; border-top:1px solid #e5e5e5; font-size:15px; line-height:22px; text-align:center;}
.winnerList tbody td.tit {padding-left:40px; padding-right:20px; text-align:left;}
.winnerList tbody td img.vm {margin:-1px 0 0 6px;}
.winnerList tbody td a:hover, .winnerList tbody td a:focus {font-family:nGothicB; color:#232323;}
.winnerList tbody td .date {padding-left:21px; background:url(/image/common/ico_date.png) no-repeat 0 50%;}
.winnerView {border-top:3px solid #FFCE54;}
.winnerView .head {position:relative; padding:28px 320px 28px 20px; border-bottom:1px solid #e5e5e5;}
.winnerView .head h3 {font-family:nGothicB; color:#232323; font-size:15px; line-height:24px;}
.winnerView .head .info {position:absolute; right:20px; top:28px; font-size:14px; line-height:24px;}
.winnerView .head .date {position:relative; padding-left:18px; padding-right:16px; margin-right:11px; background:url(/image/common/ico_date.png) no-repeat 0 50%;}
.winnerView .head .date:after {content:""; position:absolute; right:0; top:50%; width:1px; height:12px; margin-top:-6px; background:#e1e1e1;}
.winnerView .head .hit {padding-left:18px; background:url(/image/common/ico_hit.png) no-repeat 0 50%;}
.winnerView .content {min-height:200px; padding:40px 30px; font-size:14px; line-height:24px;}
.winnerView .content img {max-width:1140px;}









